.section_padding{
    padding: 4rem 4rem;
}
.footer{
    background-color: #817c7c;
    
}
.sb_footer{
    display: flex;
    flex-direction: column;
}
.sb_footer_links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    text-align: left;
    margin-bottom: 2rem;
}
.sb_footer_links_div{
    width:150px;
    margin:1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
.SocialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.SocialMedia i{
    font-size: 30px;
    padding-left: 10px;
    margin: 10px;
    cursor: pointer;
}
.SocialMedia i:hover{
    transform: scale(1.5);
}
.sb_footer_links_div h1{
    font-size: 14px;
    line-height:17px;
    /* margin:0.9rem ; */
}
.sb_footer_links_div p{
    font-size: 14px;
    line-height:17px;
    margin:0.5rem 0;
    cursor: pointer;
}
.sb_footer_below{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.2rem;
}
.sb_footer_below_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sb_footer_below_links p{
    font-size:10px;
    line-height:15px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-left: 1rem;
    color: white;
    font-weight: 600;
}

.sb_footer_copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(247, 236, 236);
    font-weight: 600;
}
.sidebarSocial {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .socialIcon {
    font-size: 24px; /* Adjust size as needed */
    color: #000; /* Initial color */
    margin: 0 10px; /* Spacing between icons */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }
  
  .socialIcon:hover {
    color: #007bff; /* Change this to the hover color you prefer */
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
  }
  